.charts-wrap {max-width: 1170px; margin: 0 auto;}
.chart-wrap {
    display: block;
    width: 50%;
    /* clear: both; */
}
.chart-wrap:nth-child(odd) { float: left; }
.chart-wrap:nth-child(even) { float: right; }