

<div class="button-wrap">
  <button (click)="getSingleYearResult(2016)" class="btn year-btn">2016</button>
  <button (click)="getSingleYearResult(2011)" class="btn year-btn">2011</button>
  <button (click)="getSingleYearResult(2006)" class="btn year-btn">2006</button>
  <button (click)="getSingleYearResult(2001)" class="btn year-btn">2001</button>
  <button (click)="getSingleYearResult(1996)" class="btn year-btn">1996</button>
  <button (click)="getSingleYearResult(1991)" class="btn year-btn">1991</button>
  <button (click)="toggleChart()" class="btn toggle-btn">Toggle Chart</button>
</div>


<div *ngIf="showCharts" class="charts-wrap">
  <div class="chart-wrap bar-chart">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>

  <div class="chart-wrap doughnut-chart">
    <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"></canvas>
  </div>

</div>
